In [2]:
import numpy as np
import pandas as pd

In [3]:
geolocation = pd.read_csv('FINAL_Geolocation.csv')

In [4]:
geolocation.head(3)

,Unnamed: 0,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0,1037,-23.545621,-46.639292,sao paulo,SP
1,1,1046,-23.546081,-46.644820,sao paulo,SP
2,2,1046,-23.546129,-46.642951,sao paulo,SP

In [5]:
geolocation.isnull().sum()

Unnamed: 0                     0
geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [6]:
(geolocation.duplicated().sum()/geolocation.shape[0]*100)

np.float64(0.0)

# DROP DUPLICATES

In [7]:
geolocation.drop_duplicates(inplace=True)

In [8]:
geolocation.shape

(738332, 6)

In [9]:
geolocation.duplicated().sum()

np.int64(0)

In [10]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738332 entries, 0 to 738331
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   738332 non-null  int64
 1   geolocation_zip_code_prefix  738332 non-null  int64
 2   geolocation_lat              738332 non-null  float64
 3   geolocation_lng              738332 non-null  float64
 4   geolocation_city             738332 non-null  object
 5   geolocation_state            738332 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 33.8+ MB

In [15]:
geolocation.to_csv('FINAL_Geolocation.csv',index=False)

In [14]:
geolocation.drop('Unnamed: 0',axis=1,inplace=True)