In [2]:
import numpy as np
import pandas as pd

In [16]:
order_reviews = pd.read_csv('Final_Order_reviews.csv')

In [17]:
order_reviews.isnull().sum()

Unnamed: 0      0
review_id       0
order_id        0
review_score    0
dtype: int64

In [18]:
order_reviews.head()

,Unnamed: 0,review_id,order_id,review_score
0,0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4
1,1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5
2,2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5
3,3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5
4,4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5

In [19]:
(order_reviews.isnull().sum()/order_reviews.shape[0]*100)

Unnamed: 0      0.0
review_id       0.0
order_id        0.0
review_score    0.0
dtype: float64

# drop a column of two

In [21]:
#order_reviews.drop(['review_comment_title','review_comment_message',],axis = 1, inplace = True)

In [22]:
order_reviews.head(5)

,Unnamed: 0,review_id,order_id,review_score
0,0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4
1,1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5
2,2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5
3,3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5
4,4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5

In [ ]:
#order_reviews.drop(['review_creation_date','review_answer_timestamp'],axis=1, inplace = True)

In [ ]:
#order_reviews.head(5)

In [24]:
order_reviews.to_csv('FINAL_Order_reviews.csv')

In [23]:
order_reviews.drop('Unnamed: 0', axis=1,inplace=True)