# order_items

In [3]:
import numpy as np
import pandas as pd

In [6]:
order_items = pd.read_csv('OLIST_order_items.csv')

In [7]:
order_items.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,freight_value,shipp_limit_date
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,2017-09-19
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,2017-05-03
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,2018-01-18
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,2018-08-15
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,2017-02-13

In [8]:
order_items.isnull().sum()

Unnamed: 0          0
order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
freight_value       0
shipp_limit_date    0
dtype: int64

In [9]:
order_items.shape

(112650, 8)

In [10]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        112650 non-null  int64
 1   order_id          112650 non-null  object
 2   order_item_id     112650 non-null  int64
 3   product_id        112650 non-null  object
 4   seller_id         112650 non-null  object
 5   price             112650 non-null  float64
 6   freight_value     112650 non-null  float64
 7   shipp_limit_date  112650 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 6.9+ MB

# timestamp into date

In [11]:
#order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date'])
#order_items['ship_limit_date'] = order_items['shipping_limit_date'].dt.date

In [12]:
order_items

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,freight_value,shipp_limit_date
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,2017-09-19
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,2017-05-03
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,2018-01-18
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,2018-08-15
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14,2017-02-13
...,...,...,...,...,...,...,...,...
112645,112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,2018-05-02
112646,112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53,2018-07-20
112647,112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,2017-10-30
112648,112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,2017-08-21
112649,112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,2018-06-12

In [13]:
order_items.head(1)

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,freight_value,shipp_limit_date
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,2017-09-19

In [14]:
order_items['shipp_limit_date'] = pd.to_datetime(order_items['shipp_limit_date'])

In [15]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        112650 non-null  int64
 1   order_id          112650 non-null  object
 2   order_item_id     112650 non-null  int64
 3   product_id        112650 non-null  object
 4   seller_id         112650 non-null  object
 5   price             112650 non-null  float64
 6   freight_value     112650 non-null  float64
 7   shipp_limit_date  112650 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 6.9+ MB

In [16]:
order_items.to_csv('FINAL_Order_Items.csv',index=False)