In [1]:
import numpy as np
import pandas as pd

In [2]:
order_payment = pd.read_csv("OLIST_order_payment_dataset.csv")

In [3]:
order_payment.head(5)

,Unnamed: 0,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [4]:
order_payment.isnull().sum()

Unnamed: 0              0
order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [5]:
order_payment.duplicated().sum()

np.int64(0)

In [6]:
order_payment[order_payment.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [7]:
order_payment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            103886 non-null  int64
 1   order_id              103886 non-null  object
 2   payment_sequential    103886 non-null  int64
 3   payment_type          103886 non-null  object
 4   payment_installments  103886 non-null  int64
 5   payment_value         103886 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.8+ MB

In [9]:
order_payment.drop('Unnamed: 0', axis=1, inplace = True)

In [10]:
order_payment.to_csv('FINAL_Order_Payment.csv',index=False)