# PRODUCTS

In [2]:
import numpy as np
import pandas as pd

In [4]:
products = pd.read_csv("OLIST_products_dataset.csv")

In [5]:
products.head(3)

,Unnamed: 0,product_id,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1,225.0,16.0,10.0,14.0
1,1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1,1000.0,30.0,18.0,20.0
2,2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1,154.0,18.0,9.0,15.0

In [6]:
products.isnull().sum()

Unnamed: 0               0
product_id               0
product_category_name    0
product_photos_qty       0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

In [7]:
products.shape

(32340, 8)

In [8]:
products.duplicated().sum()

np.int64(0)

In [9]:
(products.isnull().sum()/products.shape[0]*100)

Unnamed: 0               0.0
product_id               0.0
product_category_name    0.0
product_photos_qty       0.0
product_weight_g         0.0
product_length_cm        0.0
product_height_cm        0.0
product_width_cm         0.0
dtype: float64

In [10]:
products.dropna(inplace=True)

In [11]:
products.shape

(32340, 8)

In [12]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32340 entries, 0 to 32339
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             32340 non-null  int64
 1   product_id             32340 non-null  object
 2   product_category_name  32340 non-null  object
 3   product_photos_qty     32340 non-null  int64
 4   product_weight_g       32340 non-null  float64
 5   product_length_cm      32340 non-null  float64
 6   product_height_cm      32340 non-null  float64
 7   product_width_cm       32340 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.0+ MB

# drop product_category_name, product_description_name

In [ ]:
# products.drop(['product_name_lenght','product_description_lenght'],axis=1,inplace = True)

In [ ]:
products.head(5)

In [28]:
# products['product_photos_qty'] = products['product_photos_qty'].astype(int)

In [14]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32340 entries, 0 to 32339
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             32340 non-null  int64
 1   product_id             32340 non-null  object
 2   product_category_name  32340 non-null  object
 3   product_photos_qty     32340 non-null  int64
 4   product_weight_g       32340 non-null  float64
 5   product_length_cm      32340 non-null  float64
 6   product_height_cm      32340 non-null  float64
 7   product_width_cm       32340 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 2.0+ MB

In [15]:
products.head(5)

,Unnamed: 0,product_id,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1,225.0,16.0,10.0,14.0
1,1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1,1000.0,30.0,18.0,20.0
2,2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,1,154.0,18.0,9.0,15.0
3,3,cef67bcfe19066a932b7673e239eb23d,bebes,1,371.0,26.0,4.0,26.0
4,4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,4,625.0,20.0,17.0,13.0

In [ ]:
products.drop("Unnamed: 0", axis=1,

In [16]:
products.to_csv("FINAL_Products.csv",index=False)