In [1]:
import numpy as np
import pandas as pd

In [5]:
product_name_translate = pd.read_csv("OLIST_product_name_translate_dataset.csv")

In [6]:
product_name_translate.head(5)

   Unnamed: 0   product_category_name product_category_name_english
0           0            beleza_saude                 health_beauty
1           1  informatica_acessorios         computers_accessories
2           2              automotivo                          auto
3           3         cama_mesa_banho                bed_bath_table
4           4        moveis_decoracao               furniture_decor

In [7]:
product_name_translate.isnull().sum()

Unnamed: 0                       0
product_category_name            0
product_category_name_english    0
dtype: int64

In [8]:
product_name_translate.duplicated().sum()

np.int64(0)

In [ ]:
product_name_translate.drop('Unnamed

In [10]:
product_name_translate.to_csv("Final_Product_Name_Translate.csv",index= False)