# SELLERS

In [3]:
import numpy as np
import pandas as pd

In [4]:
sellers = pd.read_csv("OLIST_sellers_dataset.csv")

In [5]:
sellers.head(5)

,Unnamed: 0,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [6]:
sellers.isnull().sum()

Unnamed: 0                0
seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [7]:
sellers.duplicated().sum()

np.int64(0)

In [8]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              3095 non-null   int64
 1   seller_id               3095 non-null   object
 2   seller_zip_code_prefix  3095 non-null   int64
 3   seller_city             3095 non-null   object
 4   seller_state            3095 non-null   object
dtypes: int64(2), object(3)
memory usage: 121.0+ KB

In [9]:
# sellers.to_csv('OLIST_sellers_dataset.csv')

In [10]:
sellers.shape

(3095, 5)

In [11]:
sellers.to_csv('FINAL_Sellers.csv',index=False)